body {
    margin: 0;
    padding: 0;
    font-size: 0;
    background-color: magenta;
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    color: white;
    text-decoration: underline;
    padding: 0;
    margin: 0;
    margin-top: -20px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.board {
    width: 80vh;
    height:80vh;
}

.tile {
    display: inline-block;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    gap: 20px;
}

.color-buttons {
    display: flex;
    gap: 5px;
}

button {
    font-size: 14px;
}

.function-buttons {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.color {
    box-sizing:border-box;
    border: 2px solid black;
    height: 60px;
    width: 60px;
}

.selected {
    border: 2px solid white;
}

#white {
    background-color: white;
}

#red {
    background-color: red;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}

#lime {
    background-color: lime;
}

#blue {
    background-color: blue;
}

#indigo {
    background-color: indigo;
}

#black {
    background-color: black;
}

input {
    border: 2px solid black;
    box-shadow: none;
    padding: 0;
    width: 60px;
    height: 60px;
}